.products {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 2% 6%;
    row-gap: 50px;

    @media screen and (min-width:700px) {
        grid-template-columns: repeat(2, 50%);
    }

    @media screen and (min-width:1000px) {
        grid-template-columns: repeat(3, 33%);
    }
}

.card {
    width: 80%;
    margin: auto;
    cursor: pointer;
    overflow: hidden;

    &:hover img {
        transform: scale(1.05);
        transition: 500ms;
    }

    &__image {
        max-height: 400px;
        width: 100%;
        overflow: hidden;

        & img {
            width: 100%;
            transition: 500ms;
        }
    }

    &__about {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        &__text {

            &__name {
                font-size: 18px;
            }

            & p {
                margin: 5px;
            }
        }

        &__like {
            & svg {
                font-size: 25px;
                cursor: pointer;
                transition: 300ms;

                &:hover {
                    transform: scale(1.1);
                    transition: 300ms;
                }
            }
        }
    }
}



path {
    pointer-events: none;
}