

.slider{
    width: 100%;
    background-image: url(../images/slider.jpg);
    background-size: 120% 120%;
    background-position-y: -40px;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15%;
    margin-bottom: 20px;

    @media screen and (min-width : 700px) {
        height: 400px;
        background-position-y: -80px;
        padding-right: 20%;
    }

    @media screen and (min-width : 1000px) {
        height: 550px;
        background-size: 100% 120%; 
        background-position-y: -100px;
    }

    &__text{
        text-align: center;
        margin-top: 30px;


        &__welcome{
            font-size: 20px;
            margin-bottom: 20px;
            line-height: 1.2;

            @media screen and (min-width : 700px) {
                font-size: 35px;
            }
        
        }

        &__shop{
            background-color: #A9A9A7;
            border: none;
            padding: 10px;
            transition: 300ms;

            @media screen and (min-width : 700px) {
                font-size: 18px;
            }


            &:hover{
                background-color: #929292;
                transform: scale(1.01);
                transition: 300ms;
            }
        }
    }

}