.categories {
    width: 100%;
    padding: 20px 6%;
    display: grid;
    row-gap: 20px;
    overflow: hidden;

    @media screen and (min-width : 700px) {
        grid-template-columns: repeat(2, 49%);
        column-gap: 2.5%;
        justify-content: center;
    }

    @media screen and (min-width : 1100px) {
        grid-template-columns: repeat(3, 30%);
        column-gap: 20px;
    }
}



.category {
    width: 100%;
    height: 18vh;
    overflow: hidden;
    cursor: pointer;

    @media screen and (min-width : 700px) {
        height: 25vh;
    }

    @media screen and (min-width : 1100px) {
        height: 40vh;
    }


    &__inside{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 12%;
        transition: 400ms;

        @media screen and (min-width : 700px) {
            justify-content: center;
        }

        &__title {
            border: .7px solid;
            padding: 10px 20px;
            transition: 400ms;
    
            @media screen and (min-width : 700px) {
                padding: 20px 35px;
                background-color: rgba(255, 255, 255, 0.095);
            }
    
            @media screen and (min-width : 1100px) {
                font-size: 20px;
                padding: 20px 40px;
            }
        }

        &:hover{
            transform: scale(1.06);
            transition: 400ms;

            & p{
                transform: scale(.94);
                transition: 400ms;
            }
        }
    }

}



#unisex {
    @media screen and (min-width : 700px) {
        grid-column-start: 2;
    }

    @media screen and (min-width : 1100px) {
        width: 153%;
        margin-left: 52%;
        height: 55vh;
    }
}

#women {
    color: white;

    @media screen and (min-width : 700px) {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    @media screen and (min-width : 1100px) {
        width: 153%;
        height: 55vh;
    }
}

#men {

    @media screen and (min-width : 1100px) {
        grid-column-start: 1;
    }

}

#accessory {
    color: white;

    @media screen and (min-width : 700px) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    @media screen and (min-width : 1100px) {
        grid-column-start: 3;
    }
}


#unisexIn {
    background-image: url(../images/unisex.jpeg);

    @media screen and (min-width : 700px) {
        background-position-x: 100%;
    }
}

#womenIn {
    background-image: url(../images/women.jpeg);

    @media screen and (min-width : 700px) {
        background-position-x: 100%;
    }
}

#menIn {
    justify-content: flex-end;
    background-image: url(../images/men.jpeg);

    @media screen and (min-width : 700px) {
        justify-content: center;
    }

}

#bagsIn {
    background-image: url(../images/bag.jpeg);

    @media screen and (min-width : 700px) {
        background-position-x: 100%;
    }
}

#accessoryIn {
    background-image: url(../images/accessory.jpeg);
    justify-content: flex-end;

    @media screen and (min-width : 1100px) {
        justify-content: center;
    }
}