
body{
    margin: 0;
    font-family: iranSanse;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


@font-face {
    font-family: iranSanse;
    src: url(../fonts/IRANSansWeb_Light.ttf);
}


.dnone{
    display: none;
}