.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: fit-content;
        flex-basis: 1;

        &__link {
            padding: 5px;
            cursor: pointer;

            @media screen and (max-width : 760px) {
                display: none;
            }
        }

        &__bar {
            @media screen and (min-width : 760px) {
                display: none;
            }

            @media screen and (max-width : 760px) {
                display: block;
                width: 30px;
            }
        }
    }


    &__logo {
        flex-basis: 1;
        padding: 10px;
        display: flex;
        justify-content: center;

        & img{
            width: 25%;
        }
    }

    &__register {

        & p {
            border: 1px solid;
            padding: 8px 13px;
            cursor: pointer;
            flex-basis: 1;
            transition: 500ms;

            &:hover {
                background-color: white;
                color: black;
                transition: 500ms;
            }
        }

    }
}