.header {
    background-color: transparent;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: fit-content;
        flex-basis: 1;

        &__link {
            padding: 5px;
            cursor: pointer;

            @media screen and (max-width : 800px) {
                display: none;
            }
        }

        &__bar {
            cursor: pointer;
            fill: black;

            @media screen and (min-width : 800px) {
                display: none;
            }

            @media screen and (max-width : 800px) {
                display: block;
                font-size: 30px;
            }
        
        }
    }


    &__logo {
        flex-basis: 1;
        padding: 10px;
        display: flex;
        justify-content: center;

        & img{
            width: 25%;
        }
    }

    &__register {

        & p {
            border: .5px solid;
            padding: 2px 13px;
            cursor: pointer;
            flex-basis: 1;
            transition: 500ms;

            &:hover {
                background-color: white;
                color: black;
                transition: 500ms;
            }
        }

    }
}